@media all and (min-width:0px) {
    .input_type_textarea .input__control
    {
        display: block;

        padding-top: 0.4em;
        padding-bottom: 1px;

        vertical-align: baseline;

        resize: vertical;

         /* Fixed bug — overflow textarea no scrolling on touch devices */
         -webkit-overflow-scrolling: touch;
    }

    /* Only FF */
    .input_type_textarea .input__control, x:-moz-any-link
    {
        padding-top: 0.44em;
    }


    /* Set auto bottom for clear in textarea */
    .input_type_textarea .input__clear
    {
        bottom: auto;
    }
}

/* ::after — fade for long queries, is to the right */
.input_type_textarea .input__box::after
{
    display: none;
}

.input_type_textarea .input__box
{
    padding: 1px 1px 1px 0;
}

/* body — increases the weight of selector to override INPUT height */
body .input_type_textarea .input__control
{
    height: auto;
    min-height: 2em;
}

/* padding right for textarea by input__clear width */
.input_type_textarea.input_size_s .input__control
{
    padding-right: 27px;
}

.input_type_textarea.input_size_m .input__control
{
    padding-right: 31px;
}

/* height for input clear */
.input_type_textarea.input_size_s .input__clear
{
    height: 27px;
}

.input_type_textarea.input_size_m .input__clear
{
    height: 31px;
}